{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row-suppression{
            background-color: rgba(255,0,0, 0.3);
        }
        .row-creation{
            background-color: rgba(0,255,0, 0.3);
        }
        .row-update{
            background-color: rgba(0,0,255, 0.3);
        }
    </style>
    
{% endblock %}

{% block body %}
    <style>
        .row-suppression{
            background-color: rgba(255,0,0, 0.3);
        }
        .row-creation{
            background-color: rgba(0,255,0, 0.3);
        }
        .row-update{
            background-color: rgba(0,0,255, 0.3);
        }
    </style>
    <h2>Mot :</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Version</th>
            <th>Terme</th>
            <th>Variations</th>
            <th>Prononciations</th>
            <th>Nature</th>
            <th>Genre</th>
            <th>Nombre</th>
            <th>Origine</th>
            <th>Email</th>
            <th>Restaurer?</th>
        </thead>
        <tbody>
            <tr>
                <td>Courant</td>
                <td>{{mot.terme}}</td>
                <td>{{mot.variations}}</td>
                <td>{{mot.prononciation}}</td>
                <td>{{mot.nature}}</td>
                <td>{{mot.genre}}</td>
                <td>{{mot.nombre}}</td>
                <td>{{mot.origine}}</td>
                <td>{{mot.email}}</td>
                <th>X</th>
            </tr>
            {% for key, b in backups|reverse(true) %}
                <tr class="row-{{b.status}}">
                    <td>{{b.data.lastEdit|date("m/d/Y")}}</td>
                    <td>{{b.data.terme}}</td>
                    <td>{{b.data.variations}}</td>
                    <td>{{b.data.prononciation}}</td>
                    <td>{{b.data.nature}}</td>
                    <td>{{b.data.genre}}</td>
                    <td>{{b.data.nombre}}</td>
                    <td>{{b.data.origine}}</td>
                    <td>{{b.data.email}}</td>
                    <th><a href="{{ path('restaureBackUpMot', {'id': key}) }}">Oui</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <h2>Exemples</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Actif ?</th>
            <th>Texte ca</th>
            <th>Texte fr</th>
            <th>Email</th>
            <th>Restaurer?</th>
        </thead>
        <tbody>
            {% for e in mot.exemples %}
            <tr>
                <td>Y</td>
                <td>{{e.texteCa}}</td>
                <td>{{e.texteFr}}</td>
                <td></td>
                <th>X</th>
            </tr>
            {% endfor %}
            {% for k, b in bEx|reverse(true) %}
                <tr class="row-{{b.status}}">
                    <th></th>
                    <th>{{b.data.texteCa}}</th>
                    <th>{{b.data.texteFr}}</th>
                    <th>{{b.email}}</th>
                    <th><a href="{{ path('restaureBackUpExemple', {'id': k}) }}">Oui</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            
    <h2>Definitions</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Actif ?</th>
            <th>Texte</th>
            <th>Email</th>
            <th>Restaurer?</th>
        </thead>
        <tbody>
            {% for d in mot.definitions %}
            <tr>
                <td>Y</td>
                <td>{{d.texte}}</td>
                <td></td>
                <th>X</th>
            </tr>
            {% endfor %}
            {% for k, b in bDef|reverse(true) %}
                <tr class="row-{{b.status}}">
                    <th></th>
                    <th>{{b.data.texte}}</th>
                    <th>{{b.email}}</th>
                    <th><a href="{{ path('restaureBackUpDefinition', {'id': k}) }}">Oui</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
