{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="mySmallModalLabel">Confirmer suppression</h4>
            </div>
            <div class="modal-body">
                {{ form_start(confirmForm) }}
                    {{render(controller('AppBundle:Mot:getCaptcha'))}}
                {{ form_end(confirmForm) }}
            </div>
        </div>
      </div>
    </div>
    
    <h1>{{mot.terme}} {% if mot.variations %}<small>(se dit aussi {{mot.variations}})</small> {% endif %}</h1>
    <div>
        {% if mot.nature %}
            <span class="label label-default">{{mot.nature}}</span>
        {% endif %}
        {% if mot.genre %}
            <span class="label label-default">{{mot.genre}}</span>
        {% endif %}
        {% if mot.nombre %}
            <span class="label label-default">{{mot.nombre}}</span>
        {% endif %}
    </div>
    
    <div class="row">
        <div class="col-md-9">

            {% if mot.prononciation %}
                <h2>Prononciation</h2>
                <p>{{mot.prononciation}}</p>
            {% endif %}
                
            {% if mot.prononciation %}
                <h2>Origine</h2>
                <p>{{mot.origine}}</p>
            {% endif %}

            {% for definition in mot.definitions %}
                <h2>Definition</h2>
                <p>{{definition.texte}}</p>
            {% endfor %}

            {% for exemple in mot.exemples %}
                <h2>Exemple</h2>
                <p>{{exemple.texteCa}}</p>
                <p><span>Traduction: </span>{{exemple.texteFr}}</p>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="bs-example" id="actions">
                <div class="well center-block">
                    {% if hasVoted ==true %}
                        <button type="button" class="btn btn-disabled btn-lg btn-block" disabled>MERCI POUR VOTRE VOTE! <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
                    {% else %}
                        <button type="button" class="btn btn-success btn-lg btn-block" id="btn-vote" data-mot-id="{{mot.id}}">VOTER</button>
                    {% endif %}
                  <a type="button" class="btn btn-warning btn-lg btn-block" href="{{ path('editMot', {'id': mot.id}) }}">EDITER</a>
                  <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">SUPPRIMER</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var button;
        
        $('#actions').on('click', '#btn-vote', function(){
            var motId = $(this).data('mot-id');
            button = $(this);
            
            $.ajax({
                method: 'POST',
                url: '/symfony-projects/symfony_wikebec/web/app_dev.php/' + motId + '/vote',
                success: function(result) {
                    result = JSON.parse(result);
                    console.log(result);
                    button.replaceWith('<button type="button" class="btn btn-disabled btn-lg btn-block" disabled>MERCI POUR VOTRE VOTE! <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>')
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}